#welcome-section {
  height: 100vh;
}
@media (max-width: 560px) {
  body {
    background-color: rgb(0, 200, 255);
  }
}
nav {
  float: top;
  display: flex;
}
#navbar {
  z-index: 50;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
}
